* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --primary-color: #3778fa;
  --text-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  width: 100%;
}
header .header-title {
  margin-left: 20px;
  color: var(--primary-color);
  font-size: 20px;
}
header img {
  margin-right: 24px;
}
header nav {
  display: none;
}
.login {
  display: none;
}
.content {
  margin: 0 auto;
  text-align: center;
  margin-top: 57px;
}
.content-1 h2{
  width: 83%;
}
.content-1 div{
  width: 83%;
}

.content-1 h2 {
  font-size: 2.7rem;
  letter-spacing: -1.84px;
  margin-bottom: 21px;
}
.content-2, .content-3, .content-4{
  width: 100%;
}
.black-retangule {
  background-color: #000;
  width: 90%;
  height: auto;
  border-radius: 16px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.content-2 img{
  width: 80%;
  margin-top: -43px;
}


.cellphone-img{
  width: 100%;
  margin-top: -225px;
}
.cellphone-img img{
  width: 80%;
  height: 200px;
}
.content-3 {
  margin-top: 110px;
}
.content-3 h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: -1.2px;
  margin-bottom: 35px;
  width: 80%;
}
.video{
  width: 100%; 
}
.content-3 img {
  width: 90%;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-4 {
  margin: 109px 20px 0px 20px;
}
.subtitles{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-content-4{
  border-radius: 20px;
  background-color: #f3f3f3;
  width: 90%;
}
.subtitle, #subtitle-column{
  
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.content-4 h2 {
  margin-bottom: 27px;
  width: 80%;
}

.img-discovery-job-desk{
  display: none;
}
.img-discovery-job-mobile{
  margin-top: 4rem;
}

.subtitle {
  margin-top: 40px;
  display: flex;
  height: 54px;
  justify-content: space-between;
  margin: 0px 22px 17px 22px;
  align-items: center;
  align-content: center;
}
.subtitle h4 {
  font-size: 1rem;
}

#subtitle-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 22px 17px 22px;
}
#subtitle-column .text-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#subtitle-column p {
  margin-top: 6px;
  font-size: 10px;
  color: #65676c;
}
.first {
  margin-top: 40px;
}
ul {
  list-style: none;
}

footer {
  background-color: var(--primary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.first-half {
  margin: 68px 20px 0px 20px;
}
.first-half p {
  font-size: 14px;
  color: #fff;
  width: 60%;
  margin-bottom: 27px;
}

.first-half h2 {
  color: #fff;
  text-align: left;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: -1.84px;
  width: 72%;
  margin-bottom: 27px;
}
.first-half .learn-more {
  margin-bottom: 93px;
  width: 30%;
  height: 40px;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn-more a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-decoration: none;
}
.white-bar {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  align-self: center;
}
.second-half {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  margin: 79px 20px 0px 20px;
}
.talenthive-footer {
  display: flex;
  justify-content: space-between;
}
.company h4 {
  font-size: 20px;
  margin-bottom: 17px;
}
.company p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 80%;
}
.footer-container {
  margin: 0 20px;
}
.nav-company {
  height: 110px;
  display: flex;
  align-items: center;
}
.nav-company ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.about-navegation {
  margin-top: 74px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 110px;
}
.column-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.column-footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.copyright {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.copyright p {
  margin: 19px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
#last-content {
  margin-bottom: 32px;
}
.address {
  width: 75%;
  letter-spacing: 0.35px;
}
.address span a {
  color: #a0da7a;
}

@media (min-width: 1024px) {
  header .header-title {
    color: #3778fa;
    font-size: 36px;
    font-weight: 500;
  }

  header nav {
    display: block;
  }

  header img {
    display: none;
  }

  header nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  header nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 43px;
  }

  .login {
    display: block;
  }
  .login ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
  .login ul {
    display: flex;
    gap: 39px;
    height: 100%;
    align-items: center;
  }
  header {
    justify-content: space-around;
    margin-bottom: 143px;
  }
  .start-free {
    width: 10rem;
    height: 60px;
    border-radius: 100px;
    background: #3778fa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .start-free li a p {
    color: #fff;
  }
  .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 57px;
  }
  .content h2 {
    font-size: 136px;
    font-style: normal;
    font-weight: 600;
    line-height: 156px;
    letter-spacing: -4px;
    width: 75%;
  }
  .content-1 h2 {
    letter-spacing: -5.44px;
    width: 60%;
    margin-bottom: 46px;
  }
  .content-1 p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 839px;
    margin-bottom: 72px;
    margin: 0px auto 72px auto
  }
  .content-2 img {
    margin-top: -200px;
  }
  .content-2{
    margin-top: 13rem;
  }

  .content-3 img {
    width: 90%;
    margin-bottom: 300px;
    margin-top: 80px;
  }
  .content-3 h2 {
    margin-top: 301px;
    color: #000;
    font-size: 100px;
    font-weight: 600;
    line-height: 116px; /* 116% */
    letter-spacing: -4px;
    width: 60%;
  }
 
  .content-4 h2 {
    width: 60%;
    font-size: 100px;
    font-weight: 600;
    line-height: 116px;
    letter-spacing: -4px;
  }
  .content-4 {
    width: 90%;
  }
  .container-content-4 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .img-discovery-job {
    width: 50%;
  }
  .content-4 .white-square{
    display: none;
  }
  .img-discovery-job-mobile{
    display: none;
  }
  .img-discovery-job-desk{
    display: block;
    margin-top: 8.5rem;
  }
  
  .first{
    margin-top: 0;
  }
  .subtitles {
    width: 50%;
    margin: 140px 0;
  }
  .subtitle {
    width: 100%;
    padding: 46px 26px;
    margin-bottom: 26px;
  }
  .subtitle h4 {
    color: #222;
    font-size: 30px;
    font-weight: 500;
  }

  #subtitle-column {
    width: 100%;
    padding: 46px 26px;
    margin-bottom: 26px;
  }
  #subtitle-column .text-icon h4 {
    color: #222;
    font-size: 30px;
    font-weight: 500;
  }
  #subtitle-column .text-icon {
    width: 100%;
  }
  #subtitle-column p {
    color: #65676c;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    width: 371px;
  }
  .content-4 h2 {
    margin-bottom: 79px;
  }
  footer {
    margin-top: 240px;
  }

  footer{
    width: 100vw;
  }
  .first-half {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 134px;
    align-items: center;
    margin-top: 140px;
  }
  .first-half h2 {
    font-size: 136px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    line-height: 146px; /* 107.353% */
    letter-spacing: -5.44px;
    text-align: left;
  }
  .first-half p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }

  .first-half .learn-more {
    width: 202px;
    height: 72px;
  }
  .first-half .learn-more a {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
  }
  .more-about {
    margin-top: 56px; 
     
  }
  .container-ma{
    margin-left: 20%;
    width: 100%;
  }

  .white-bar {
    width: 100%;
    margin: 0 auto;
  }
  .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright  p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .footer-container {
    margin-right: 140px;
    margin-left: 140px;
  }
  .second-half {
    width: 100%;
    margin-top: 160px;
  }
  .container-navs {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin-left: -20px;
  }
  .about-navegation {
    height: 180px;
    flex-direction: row;
    margin-top: 0;
    width: 60%;
    justify-content: space-between;
  }

  .about-navegation ul li a {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
  }
  .nav-company {
    height: 180px;
    margin-right: 20%;
  }
  .nav-company ul {
    justify-content: space-between;
  }
  .nav-company ul li a {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .talenthive-footer {
    width: 40%;
  }
  .talenthive-footer h4 {
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
  }
  .talenthive-footer p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 60%;
  }
  .column-footer {
    height: 180px;
  }

}
