*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root{
    --primary-color: #3778FA;
    --text-color: #000;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    width: 100%;
}
header .header-title{
    margin-left: 20px;
    color: var(--primary-color);
    font-size: 20px;
}
header img{
    margin-right: 24px;
}
nav{
    display: none;
}
.login{
    display: none;
}
.content{

    width: 353px;
    margin: 0 auto;
    text-align: center;
    margin-top: 57px;
}

.content-1 h2{
    font-size: 46px;
    letter-spacing: -1.84px;
    margin-bottom: 21px;
}
.black-retangule{
    background-color: #000;
    width: 388px;
    height: 207px;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    margin: 87px auto 0 auto;

}



.content-2 .cellphone-img{
    position: relative;
    margin-top: 34.87px;
    
}
.content-3{
    margin-top: 110px;
    width: 323px;
}
.content-3 h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: -1.2px;
}
.content-3 img{
    width: 388px;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-4 h2{
    margin-bottom: 27PX;
}
.img-discovery-job img {
    width: 181.836px;
    height: 293.056px;
    margin-top: 57.94px;
}
.content-4 .subtitle img{
    width: 6.333px;
    height: 6.333px;
}
.subtitle{
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 54px;
}
.subtitle h4{
    font-size: 16px     ;
}